# Ignore everything
*

# But not these files template files...
!analysis
!analysis.bat
!analysis-console.bat
!brk_a (alpha_vantage).bat
!brk_a (quandl).bat
!/logs
!/logs/config
!/logs/config/log4j.xml
!/logs/config/log4j-brk_a.xml