# Ignore everything
*

# But not these files used in docs/examples...
!analysis
!analysis.bat
!backtest
!*/backtest.bat
!*/brk_quandl-datatable_es.bat
!*/brk_quandl-datatable_file.bat
!*/oil_quandl-dataset_es.bat
!*/oil_quandl-dataset_file.bat
