# Ignore everything
*

# But not these files used in docs/examples...
!analysis
!analysis.bat
!backtest
!*/backtest.bat
!*/brk_a-elasticsearch.bat
!*/brk_a-file.bat
!*/oil-elasticsearch.bat
!*/oil-file.bat
