# Ignore everything
*

# But not these files used in docs/examples...
!example
!example/backtest.bat
!example/brk_a-elasticsearch.bat
!example/brk_a-file.bat
!example/oil-elasticsearch.bat
!example/oil-file.bat
